 body {
     background-color: #1e293b;
     color: white;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .box {
     background-color: #334155;
     padding: 30px;
     border-radius: 10px;
     width: 100%;
     max-width: 450px;
 }

 .caixa-login {
     background-color: #334155;
     padding: 30px;
     border-radius: 10px;
     margin-top: 100px;
 }
 placeholder {
     color: #94a3b8;
     style: italic;
 }